.buttonLayout{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.buttonContent{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height:80%;
  background-color: #6D6E6F;
  border: 0;
}
