.MenuLayout{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #B0B0B0;
  align-items: center;
  padding: 15px 12px;
}
.MenuLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.MenuContent{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.MenuContent p{
  margin : 0;
}
.MenuImg{
  width: 55px;
  height: 55px;
  border-radius: 10%;
  object-fit: cover;
}
.MenuPrice,
.MenuName {
  font-size: 18px;
  font-weight: 600;
  font-family: Pretendard;
  color: #111111;
  padding-bottom:4px;
}
.MenuDetails{
  font-size: 12px;
  font-weight: 400;
  font-family: Pretendard;
  color: #B0B0B0;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 8px;
}

.locationIcon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  
}

