// .MenuSelectionLayout {
//   padding: 1rem;
// }
//전체에 padding을 주며 쓸 이유가 사라짐
.MenuSelectionTitle{
  font-size: 24px;
  font-weight: 600 ;
  font-family: Pretendard;
  margin-bottom:20px;
}
.MenuCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
