.MenuSelectionLayout {
  padding: 1rem;
}

.MenuSelectionTitle{
  font-size: 24px;
  font-weight: bold ;
}
.MenuCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
