.exploreMapContainer {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 24.375rem;

  background: transparent;
}

.toastContainer {
  position: fixed; 
  bottom: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3000;
}