.toast {
    width: 20.375rem;
    height: 2.375rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.4375rem;
    background: #0EA64B;
    box-shadow: 0 1px 1px 0 rgba(14, 166, 75, 0.04);
    z-index: 3000;
}

.toastMessage {
    color: #FFFFFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.025rem;
}