.modalContainer {
    display: flex;
    flex-direction: column;
    width: 20.375rem;
    padding: 1.5rem 1.4375rem;
    border-radius: 1.25rem;
    background: #FAFAFA;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.modalText {
    color: #111111;
    text-align: center;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.03125rem;
}

.buttonContainer {
    display: flex;
    gap: 1.25rem;
}