@font-face {
  font-family: "Aggro-Light";
  font-weight: normal;
  src: url("../public/fonts/Aggro-Light.otf") format("truetype");
}

@font-face {
  font-family: "Aggro-Medium";
  font-weight: normal;
  src: url("../public/fonts/Aggro-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Aggro-Bold";
  font-weight: normal;
  src: url("../public/fonts/Aggro-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  src: url("../public/fonts/Pretendard.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
    margin: 0;
    background-color: #FAFAFA;
}

p {
  margin: 0;
}