.stepContainer {
    display: flex;
    width: 10.1875rem;
    height: 3.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
    flex-shrink: 0;

    p {
        color: #B0B0B0;
        text-align: center;
        font-family: Pretendard;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.02813rem;
    }

    &.active {
        z-index: 2000;
        border-bottom: 0.2rem solid #0EA64B; 

        p {
            color: #0EA64B;
        }
    }
}